{% extends 'base.html' %} {% block content %}
<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          About
        </h1>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
  <div class="row mar-b-50">
    <div class="col-lg-5">
      <div class="about-carousel wow fadeInLeft">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="/assets/img/parallax-slider/images/1.png" alt="">
              <div class="carousel-caption">
                <p>
                  
                </p>
              </div>
            </div>
            <div class="item">
              <img src="/assets/img/parallax-slider/images/2.png" alt="">
              <div class="carousel-caption">
                <p>
                 
                </p>
              </div>
            </div>
            <div class="item">
              <img src="/assets/img/parallax-slider/images/3.png" alt="">
              <div class="carousel-caption">
                <p>
                  
                </p>
              </div>
            </div>

          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left">
                </i>
              </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right">
                </i>
              </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 about wow fadeInRight">
      <h3>About Heart Market Prediction and Forcasting System</h3>
      <p>Healthcare industry has huge amount of data that contains hidden information. This information supports decision making process on related area. In this research paper, we discussed various approaches of data mining which are useful in predicting the heart disease. One of the complex tasks in healthcare industry is predicting of heart disease and it requires more experience and knowledge. Some of the ways of predicting heart diseases are ECG, stress test and heart MRI etc. Here the system uses 14 parameters for predicting heart disease that include blood pressure, cholesterol, chest pain and heart rate. These parameters are used to improve an accuracy level. The main aim of this paper is to provide an analysis of data mining techniques on diagnosing heart disease</p>
           
      <p>Healthcare industry has huge amount of data that contains hidden information. This information supports decision making process on related area. In this research paper, we discussed various approaches of data mining which are useful in predicting the heart disease. One of the complex tasks in healthcare industry is predicting of heart disease and it requires more experience and knowledge. Some of the ways of predicting heart diseases are ECG, stress test and heart MRI etc. Here the system uses 14 parameters for predicting heart disease that include blood pressure, cholesterol, chest pain and heart rate. These parameters are used to improve an accuracy level. The main aim of this paper is to provide an analysis of data mining techniques on diagnosing heart disease</p>

    </div>
  </div>

</div>
{% endblock content %}