{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">

            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
                <i>MANAGE THE</i>
                <br>
                <i>HEART</i>
                <br>
                <i>DISEASE DATAASET</i>
              </h2>
              <p>
                <i>A complete solution</i>
                <br />
                <i>for heart datasets</i>
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
				  Read more
				</a>
              <div class="da-img">
                <img src="/assets/img/parallax-slider/images/1.png" alt="image01" style="height:300px"/>
              </div>
            </div>
          </div>
        </div>
      </div>


            <div class="da-slide">
            <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>FILES AND</i>
            <br />
          <i>USER</i>
            <br />
          <i>MANAGEMENT</i>
        </h2>
        <p>
          <i>Management of</i>
            <br />
          <i>heart and files</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/2.png" alt="image01" style="height:300px"/>
        </div>
      </div>
          </div>
        </div>
      </div>


      <div class="da-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>LATEST TECHNOLOGY AND</i>
            </br>
          <i>INFRASTRUCTURE</i>
            </br>
          <i>USAGE</i>
        </h2>
        <p>
          <i>Latest</i>
          <br />
          <i>technoloy</i>
          <br />
          <i>and infrastructure</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/3.png" alt="image01" style="height:300px"/>
        </div>
      </div>
      </div>
      </div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
             Heart Disease Prediction System Using Machine Learning
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/parallax-slider/images/front1.jpg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Files Management System</b>
                </h4>
              </div>
              <p class="text-center">
                An online trading community provides participants with a structured method for trading, bartering, or selling goods and services.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front2.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>User Management System</b>
                </h4>
              </div>
              <p class="text-center">
                A trading circle is a form of online trading designed to facilitate viewing of television series and episodic pysical media.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Heart Dataset System</b>
                </h4>
              </div>
              <p class="text-center">
                Physical media such as videocassettes, DVDs and CDs are exchanged via mail. Each member agrees to pass an episode on to the next member
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.png" alt="" style="height:335px; width:550px;">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About Heart Disease Predictio nSystem
            </h1>
            <hr>
            <p>
                <p>Healthcare industry has huge amount of data that contains hidden information. This information supports decision making process on related area. In this research paper, we discussed various approaches of data mining which are useful in predicting the heart disease. One of the complex tasks in healthcare industry is predicting of heart disease and it requires more experience and knowledge. Some of the ways of predicting heart diseases are ECG, stress test and heart MRI etc. Here the system uses 14 parameters for predicting heart disease that include blood pressure, cholesterol, chest pain and heart rate. These parameters are used to improve an accuracy level. The main aim of this paper is to provide an analysis of data mining techniques on diagnosing heart disease</p>
            </p>
			      <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

